@media screen and (max-width: 375px) {
  body {
    overflow: scroll;
  }
  .main {
    width: 375px;
    padding: 0;
    max-width: 375px;
    margin: 0 auto;
    background: linear-gradient(359.67deg, #0D0D0E 46.29%, #2D3749 93.43%);
  }
  .container {
    background-size:cover;
    margin: 0;
    padding: 0;
    position: absolute;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; 
  }
  .img_container {
    top: 310px;
    width: 566px;
    height: 325px;
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    background-repeat: no-repeat;
  }
  .img_container_balance {
    z-index: 0 ;
    position: absolute;
    top: 389px;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 335px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .header__logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
  .header__nav {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(359.67deg, #0D0D0E 46.29%, #2D3749 93.43%);
    z-index: 9999;
    overflow-y: hidden;
  }
  .mobile-background.open {
    position: relative;
    background-image: url(/mobile/header/menu-bg-mobile.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }
  .background-images.open {
    display: none;
  }
  .header__nav.open {
    position: fixed;
    overflow: hidden;
    max-width: 375px;
    height: 100vh;
    margin: 0;
    padding-top: 118px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(180deg, #536382 -51.6%, #0D0D0E 34.34%);
  }
  .nav__list-link.open {
    text-align: center;
    padding-bottom: 32px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #F4F4F4;
  }
  .nav__list-link.last.login-btn.open {
    width: 113px;
    height: 49px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .nav__list-link.last.login-btn.open  {
 
  }

  .header__menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .header__menu-btn::before,
  .header__menu-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .header__menu-btn::before {
    top: 8px;
  }
  .header__menu-btn::after {
    top: 16px;
  }
  .header__nav.open .header__menu-btn::before {
    transform: rotate(45deg);
    top: 14px;
  }
  .header__nav.open .header__menu-btn::after {
    transform: rotate(-45deg);
    top: 14px;
  }
  .main__title {
    margin-top: 60px; 
    transition: margin-top 0.3s ease-in-out;
    z-index: 4;
  }
  .title {
    position: relative;
    z-index: 1;
  }
  .sub__title {
    position: relative;
  }

  .header__nav-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(/mobile/header/x.svg);
    background-size: cover;
  }
  .text__animation_container.open {
    display: none;
  }
  .text__animation_container {

    margin-right: auto;
    margin-left: auto;
    height: 130vh;

  }
  .text__animation_title   {
    max-width: 267px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;

    color: #161616;
  }
  .text__payments {
    max-width: 310px;
    text-align: center;

    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .text__animation_info {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 18px;
  }
  .text__animation_info p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: -0.02em;
  }
  .text__animation_info_title {
    height: 45px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #161616;
    text-align: start;
    margin-bottom: 6px;
  }
  

 
  .payment__methodfeatures-title {
    max-width: 308px;
    margin-right: auto;
    margin-left: auto;
   
  }
  .payment__methodfeatures-title h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #161616;
    margin: 0;
  }
  .payment__methodfeatures-title p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }
  .features_list_content {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    column-gap: 14px;
}


  .payments__info {
    width: 327px;
    height: 302px;
  }
  .payments__info-link {
  }
  .payment__sub-text {
    width: 308px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #868E9B;
    display: flex;
    justify-content: center;
  }

  .payments__info {
    width: 327px;
    height: 302px;
  }
  .payments__info-link img {
    width: 311px;
    height: 86px;
    border-radius: 12px;
    margin-bottom: 16px;
  }
  .payments__info-link:nth-child(1) img {
    margin-bottom: 16px;
}
  .payments__info-link:nth-child(2) img {
    margin-bottom: 16px;
}
  .payments__info-link:nth-child(3) img {
    margin-bottom: 16px;
}
.payments__info-link:nth-child(4) img {
    margin-bottom: 30px;
}


.payment__method-features p  {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
.payment__features.show {
    margin-top: 22px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    background-image: url(/mobile/header/mobile.png);
    background-position: center;
    
    display: flex;
}
.features__list {
    margin-bottom: 50px;
    }

.payment__methodfeatures-title {
    width: 308px;   
    margin-right: auto;
    margin-left: auto;
}
.payment__methodfeatures-title h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;

    color: #161616;
    margin-bottom: 8px;
}

.features_list_content p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
   display: flex;
   justify-content: left;
    color: #000000;
}
.features__list_img {
    margin-left: 0;
}


/* Target */
 .target {
    width: 100%;
    background: linear-gradient(360deg, #0D0D0E 38.09%, #2D3749 93.65%);

 }
 .target__container {
    margin-right: 16px;
    margin-left: 16px;
 }
 .target__title {
    width: 343px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
 }
 .target__title h2 {
    width: 318px;
    height: 114px;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
    margin-bottom: 40px;
 }

 .target__title p {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    padding: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    width: 317px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;

 }
 .target__info {
    display: block;
    margin-bottom: 43px;
 }
 .target__info_list h4 {
    margin: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFA051;
 }
 .target__info_list p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 14px;
    padding: 0;
 }


 /* inreceiving__payments */
 .payment__method-features {
    margin-top: 32px;
 }
 .payment__sub-text p {
    width: 308px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #868E9B;
    margin-right: auto;
    margin-left: auto;
 }
 .payments__container__title h2 {
    width: 267px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #161616;
 }
.payments__container__title p {
    width: 308px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #868E9B;
}
 
 .inreceiving__payments_list {
    display: block;
 }
 .inreceiving__payments_list-item {
    width: 343px;
    height: 259px;
    margin-bottom: 16px;
 }
 .inreceiving__payments_img {
    padding-top: 28px;
 }
 .inreceiving__payments-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px; 
    align-items: center;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #161616;
 }
 .inreceiving__payments-subtitle {
    width: 263px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    text-align: center;
    letter-spacing: -0.02em;
    padding: 0 0 28px;
 }

 /* <!--solutions -->  */
 .solutions  {
    width: 343px;
 }
 .solutions__container {
    width: 318px;
 }
 .solutions__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 14px;
 }

 .solutions__sub-title {
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
 }
.solutions__sub-title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFF;
  margin-top: 32px;
  position: absolute;
    left: 0;
    right: 0;
}
 .solutions__border {
    width: 100%;
    height: 2px;
 }
 .solutions__contacts {
  margin-top: 0;
  padding-top: 0;
 }

 .solutions__mail {
    display: block;
 }
 .solutions__mail_text {
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 12.72px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
 }

 /* Footer */
 .footer {

 }
 .footer__nav {
    width: 296px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    column-gap: 28px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;  
    color: #F9F9F9;
    padding-bottom: 20px;
 }
.footer__contact p {
    width: 341px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 17px;
}
.footer__contact p::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #F5F5F5;
    margin-top: 32px;
    position: absolute;
    left: 0;
    right: 0;
}

  .footer__end {
    width: 206px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .footer__end_support {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-bottom: 18px;
  }
  .footer__end_social {
    width: 150px;
    column-gap: 18px;
    padding-bottom: 18px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .footer__end_text {
    width: 163px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #F9F9F9;
    padding-bottom: 52px;
  }
}