body {
    font-family: 'Inter', 'Manrope', 'Poppins', 'Ubuntu', sans-serif;
    margin: 0 auto;
    display: block;
    overflow-x: hidden;
}

.dropdownSection {
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdownSection.show {
    opacity: 0;
    transform: translateY(0);
}

.main {
    position: relative;
    background: linear-gradient(359.67deg, #0D0D0E 46.29%, #2D3749 93.43%);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    height: 980px;
}

.container {
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.img_container,
.img_container_balance {
    display: none;
}

.header_container {
    display: flex;
    column-gap: 351px;
    justify-content: center;
    padding-top: 34px;
    margin: 0;
    align-items: center;
}

.header__logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.01em;
}

.header__logo a {
    color: #FFFFFF;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list-link {
    display: flex;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    margin: 0;
}

.nav__list.last {
    column-gap: 28px;
}

.nav__list-link {
    margin-right: 32px;
    color: #F4F4F4;
}

.login-btn {
    padding: 0 32px;
    background: #FFA051;
    border-radius: 32px;
    color: #FFFFFF;
}

/* Main title */
.main__title {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    margin-top: 99px;
    z-index: 0;
    padding-bottom: 50px;



}

.title {
    margin: 0 auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 74px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;

    text-align: center;
}

.sub__title {
    padding-top: 24px;
    padding-bottom: 132px;
    margin: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #F4F4F4;
    opacity: 0.6;
}

.background-images {
    height: 600px;
    position: relative;
    background-color: #0D0D0E;
}

.orange-line {
    position: absolute;
    top: -76px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100vw;

}

.berg {
    margin: 0 auto;
    position: absolute;
    top: -76px;
    left: 0;
    z-index: 1;
    width: 100vw;
    background-color: #0D0D0E;

}

.chart {
    margin: 0 auto;
    position: relative;
    top: 5px;
    left: 0;
    z-index: 1;
    width: 100vw;
}

.elipse {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
}



.total-balance {

    margin: 0 auto;
    position: absolute;
    top: 70px;
    left: 330px;
    z-index: 1;
    border-radius: 10px;
}


/* text__animation */

.text__animation {
    position: relative;
    margin-top: 340px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

.text__animation_container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

.text__animation_info_title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 74px;
    text-align: left;
    color: #161616;
    margin: 0;
}

.text__payments {
    position: relative;
    max-width: 987px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    column-gap: 127px;
    margin-top: 67px;
    margin-bottom: 68px;
}

.text__animation_title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 0.74;
    text-align: center;
    color: #161616;
}

.text__animation_info {
    max-width: 453px;
}

.text__animation_info_title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: -0.03em;
    margin: 0;
    padding-bottom: 9px;
}

.text__animation_info p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: justify;
    letter-spacing: -0.02em;
    background-image: linear-gradient(to right, #505887, #64607D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    margin-bottom: 34px;
}

.text__animation_info p:last-of-type {
    margin-bottom: 0;
}

.payments__info {
    display: inline-block;
    max-width: 472px;
}

.payments__info-link:nth-child(1) img {
    margin-bottom: 27px;
}

.payments__info-link:nth-child(2) img {
    margin-bottom: 18px;
}

.payments__info-link:nth-child(3) img {
    margin-bottom: 24px;
}

.payments__info-link:nth-child(4) img {
    margin-bottom: 120px;
}

.payments__info-link:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.payments__info-link img {
    transition: transform 0.15s ease-in;
}

.payments__info-link:hover img {
    transform: scale(1.1);
}

.payments__info-link:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}



/* payment__method-features */

.payment__method-features h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 74px;
    text-align: center;
    color: #161616;
    margin: 0;
}

.payment__sub-text {
    margin: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;

    text-align: center;
    letter-spacing: -0.02em;
    color: #868E9B;
}

.payment__features {
    margin-top: 56px;
    background-image: url('img/payment-methodfeatures/background-payment.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.features__list {
    position: relative;
    /* /* padding-top: 122px; */
    padding-bottom: 260px;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    column-gap: 34px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}


.features_list_content {
    position: relative;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 324px;
    height: 84px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;
    border-radius: 200px;
    margin-bottom: 28px;
}

.features__list_img {
    margin-left: 14px;
}

.features__list_text {
    width: 212px;
    justify-content: center;
    font-family: 'Poppins';

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-feature-settings: 'liga' off;
    color: #000000;
    padding-top: 18px;
    padding-bottom: 17px;
    margin: 0 auto;

}



/* target */

.target {
    justify-content: center;
    background-position: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 122px;
    display: flex;
    background-image: url('img/target/target-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.target__container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;


}

.target__title {
    width: 824px;
    margin: 0;
}

.target__title h2 {
    max-width: 824px;
    margin-right: auto;
    margin-left: auto;

    margin: 0;
    padding-top: 76px;
    padding-bottom: 42px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 74px;
    text-align: center;

    color: #FFFFFF;
}

.target__title p {
    margin: 0;
    padding-bottom: 52px;
    max-width: 999px;
    overflow: visible;
    display: inline-block;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;

    text-align: center;
    letter-spacing: -0.02em;

    background-image: linear-gradient(#FFFFFF, #505887);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.target__info {
    margin-right: auto;
    margin-left: auto;
    max-width: 822px;
    color: #F4F4F4;
    display: flex;
    column-gap: 30px;
    text-align: center;
    justify-content: space-between;
}


.target__info_list {
    text-align: center;
    white-space: nowrap;
}

.target__info_list h4 {
    margin: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 2.14;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFA051;
    list-style-type: none;
}

.target__info_list p {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 130px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: -0.02em;


}

/* inreceiving payments */

.inreceiving__payments {
    background: #FFFFFF;
}

.inreceiving__payments__container {
    max-width: 1233px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.payments__container__title {
    max-width: 838px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.payments__container__title h2 {
    max-width: 838px;
    margin: 0 auto;
    padding-bottom: 19px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 0.74;
    text-align: center;
    color: #161616;
}

.payments__container__title p {
    margin: 0 auto;
    padding-bottom: 38px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: -0.02em;
    color: #868E9B;
}

.inreceiving__payments_list {
    display: flex;
    column-gap: 30px;
}

.inreceiving__payments_list-item {
    max-width: 391px;
    height: 405px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 46px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.inreceiving__payments_img {
    padding-top: 83px;
}

.inreceiving__payments-title {
    max-width: 301px;
    margin: 0 auto;
    padding-top: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.21;
    text-align: center;

    color: #161616;
}

.inreceiving__payments-subtitle {

    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 68px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: -0.02em;
}

.inreceiving__payments_list-item::after {
    content: "";
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #FAFBFF;
}

/* solutions */
.solutions {
    position: relative;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    background: #FFA051;
    background-image: url('img/solutions/vector_solutions.svg');
    background-size: cover;
}

.solutions__container {
    margin-bottom: -50px;
    position: relative;
    padding-top: 71px;
    padding-bottom: 75px;
    max-width: 937px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.solutions__text {
    color: #F4F4F4;
    font-family: 'Manrope';
}

.solutions__title {
    margin: 0 auto;
    padding-bottom: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 0.74;
    text-align: center;
}

.solutions__sub-title {
    position: relative;
    margin: 0 auto;
    padding-bottom: 25.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: -0.02em;
}

.solution__border {
    display: none;
}

.solutions__contacts {
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 8px;
    padding-top: 21.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.06;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.solutions__mail {
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.solutions__mail_text {
    padding-right: 9px;
    padding-left: 6px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

.solutions__mail_addres {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.09;
    text-decoration-line: underline;
}

.solutions__mail_address {
    font-size: 16px;
    align-items: center;
    text-align: center;
    text-decoration: underline !important;
    color: #F5F5F5;
    cursor: pointer;
}

/* footer */
.footer {
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(359.67deg, #0D0D0E 46.29%, #2D3749 93.43%);
    border: none;
    margin: 0 auto;
}

.footer__container {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.footer__title {
    padding-top: 84px;
    padding-bottom: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.footer_nav {
    max-width: 296px;
    margin-right: auto;
    margin-left: auto;
}

.footer__nav_list {
    max-width: 340px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 13px;
    display: flex;
    column-gap: 28px;
}

.footer__nav_link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #F9F9F9;
}

.footer__contact p {
    max-width: 398px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 14px;
    margin: 0 auto;
}

.line-footer {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 14px;
    padding-bottom: 23px;
    margin: 0;
}

.footer__end {
    padding-bottom: 23px;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    color: #F9F9F9;
}

.footer__end_text {
    width: 163px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

.footer__end_support {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer__end_support a {
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer__end_social {
    margin: 0 auto;
    column-gap: 14px;
    display: flex;
}

.header__menu-btn {
    display: none;
}